*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
}
.navbar ul{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar ul h3 a{
color: white;
}
.logo a{
    color: white;
    text-decoration: none;
}

.formlog{
  width: 60%;
  margin: 0 auto;
}
.formlog h1{
    text-align: center;

}
.formlog form{
    margin: 10px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.formlog form input{
    margin: 10px 0 15px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}
.formlog form input[type="submit"]{
    background-color: rgb(85, 0, 255);
    border: none;
    color: white;
    font-size: 18px;
}

.pubpost{
    font-size: 20px;
    margin: 10px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.pubpost input{
    margin: 10px 0;
    padding: 10px;
}
.pubpost textarea{
    padding: 10px;
    padding-bottom: 70px;
}
.pubpost input[type='submit']{
    width: 70px;
    background-color: blue;
    color: white;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.viewpost{
    text-align: center;
    margin: 0 90px;
    margin-top: 40px;
    padding: 5px 10px;
    width: 20%;
    color: black;
    display: inline-block;
    background-color: rgb(180, 195, 240);
}

.msgerr{
    text-align: center;
    color: rgb(241, 161, 161);
    background-color: black;
}

.dashb{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#cree{
    grid-column: 2/9;
}
.title{
    color: black;
    background-color: bisque;
    padding: 10px;
    text-align: center;
}
.title #pre {
    color:rgb(77, 35, 116);
}
.head{
    cursor: pointer;
}
.contact{
    width: 700px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;

}
.contact form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact form .nameCon{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: require(2, 1fr);
    grid-template-rows: require(2, 1fr);
}
.contact form .nameCon .frlabel{
    grid-column: 1/2;
    grid-row: 1/2;
}
.contact form .nameCon .seclabel{
    grid-column: 2/3;
    grid-row: 1/2;
}
.contact form label{
    margin: 10px;
}
.contact form input{
    padding: 10px;
}
.contact form textarea{
    padding: 10px;
    height: 100px;
    margin-bottom: 20px;
}
.contact form input[type="submit"]{
    width: 80px;
    background-color: rgb(62, 62, 245);
    color: white;
    border: none;
    border-radius: 8px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.editpost{
    margin: 20px 0;
    grid-column: 3/6;
    text-align: center;
    display: none;
}
.editpost img{
    width: 120px;
    height: 40px;
}

.deletepost{
    margin: 20px 0;
    grid-column: 3/6;
    text-align: center;
    display: none;
}
.deletepost img{
    width: 120px;
    height: 40px;
}

